.fg-body3-short,
.fg-breadcrumb,
.fg-checkbox__label,
.fg-chip__item,
.fg-contact-module__message-button,
.fg-country__name,
.fg-dropdown-menu-button,
.fg-dropdown-menu__list-action,
.fg-dropdown-multi-select,
.fg-dropdown-nested-multi-select,
.fg-dropdown__button--large,
.fg-dropdown__button--large .fg-dropdown__placeholder,
.fg-dropdown__button--medium,
.fg-dropdown__button--medium .fg-dropdown__placeholder,
.fg-dropdown__option,
.fg-inline-alert,
.fg-input--l .fg-input__input,
.fg-input--m .fg-input__input,
.fg-input--s .fg-input__input,
.fg-input--xl .fg-input__input,
.fg-input-field--m .fg-input-field__error-message,
.fg-jump-links,
.fg-list__item,
.fg-list__item-button,
.fg-nested-checkbox-virtualized__item__text,
.fg-radio__label--small,
.fg-search-input .fg-search-input__input-container,
.fg-search-input .fg-search-input__option-link,
.fg-select--large .fg-select__input-container,
.fg-select--large .fg-select__placeholder,
.fg-select--large .fg-select__single-value,
.fg-select--medium .fg-select__input-container,
.fg-select--medium .fg-select__placeholder,
.fg-select--medium .fg-select__single-value,
.fg-select-box-checkbox-label,
.fg-select__group-heading,
.fg-select__menu-notice,
.fg-select__option,
.fg-sidebar-nav__logo-wrapper .fg-sidebar-nav__app-name-1,
.fg-sidebar-nav__sidebar-item-text,
.fg-spinner__content,
.fg-tabs .fg-tab--large {
  font-family: var(--fg-web-body-3-short-font-family);
  font-size: var(--fg-web-body-3-short-font-size);
  font-weight: var(--fg-web-body-3-short-font-weight);
  letter-spacing: var(--fg-web-body-3-short-letter-spacing);
  line-height: var(--fg-web-body-3-short-line-height);
  text-decoration: var(--fg-web-body-3-short-text-decoration);
}