.fg-card-header + .fg-card__content--mixed {
  padding: 8px 16px 24px;
}

.fg-card-header + .fg-card__content--medium {
  padding: 8px 16px 16px;
}

.fg-card-header + .fg-card__content--large {
  padding: 8px 24px 24px;
}

.fg-card-header + .fg-card__content--inner-card {
  padding: 8px 0 0;
}

.fg-card-header {
  display: flex;
  justify-content: space-between;
}

.fg-card-header--has-tabs {
  flex-wrap: wrap;
}

.fg-card-header--size-extra-small {
  padding: 0;
}

.fg-card-header--size-small {
  padding: 8px 16px;
}

.fg-card-header--size-small.fg-card-header--has-tabs {
  gap: 4px;
  padding: 16px 16px 0;
}

.fg-card-header--size-small.fg-card-header--has-tabs + .fg-card__content {
  padding: 8px 16px;
}

.fg-card-header--size-small.fg-card-header--has-tabs
  + .fg-card__content--mixed {
  padding: 12px 24px;
}

.fg-card-header--size-large {
  padding: 16px 24px;
}

.fg-card-header--size-large.fg-card-header--has-tabs {
  gap: 12px;
  padding: 24px 24px 0;
}

.fg-card-header--size-large.fg-card-header--has-tabs + .fg-card__content {
  padding: 12px 24px;
}

.fg-card-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fg-card-header__drag-icon {
  align-items: center;
  background-color: var(--fg-c-card-header-drag-icon-background-color-default);
  border: 0;
  color: var(--fg-c-card-header-drag-icon-color-default);
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 32px;
}

.fg-card-header__drag-icon:hover {
  background-color: var(--fg-c-card-header-drag-icon-background-color-hover);
  color: var(--fg-c-card-header-drag-icon-color-hover);
  cursor: grab;
}

.fg-card-header__drag-icon:active {
  background-color: var(--fg-c-card-header-drag-icon-background-color-active);
  color: var(--fg-c-card-header-drag-icon-color-active);
}

.fg-card-header__drag-icon + .fg-card-header__title {
  margin-left: 4px;
}

.fg-card-header__drag-icon + .fg-card-header__support-text {
  margin-left: 8px;
}

.fg-card-header__title {
  color: var(--fg-c-card-header-title-color-default);
}

.fg-card-header__title + .fg-card-header__support-text {
  margin-left: 8px;
}

.fg-card-header__support-text {
  color: var(--fg-c-card-header-subtitle-color-default);
}

.fg-card-header__support-text + .fg-card-header__left-side {
  margin-left: 24px;
}

.fg-card-header__title-wrapper {
  align-items: center;
  display: flex;
}

.fg-card-header__left-side:not(:first-child) {
  margin-left: 24px;
}

.fg-card-header__right-side {
  align-items: center;
  display: flex;
}

.fg-card-header__right-side--with-gap {
  gap: 4px;
}

.fg-card-header__tags {
  align-items: center;
  display: flex;
  gap: 8px;
}

.fg-card-header__tags-dot:after {
  background-color: var(--fg-c-card-header-dot-background-color-default);
  border-radius: 4px;
  content: "";
  display: block;
  height: 4px;
  width: 4px;
}

.fg-card-header__actions-divider {
  border-right: 1px solid var(--fg-c-card-header-divider-color-default);
  height: 16px;
  margin: 0 8px;
}

.fg-card-header__title,
.fg-headline4 {
  font-family: var(--fg-web-headline-4-font-family);
  font-size: var(--fg-web-headline-4-font-size);
  font-weight: var(--fg-web-headline-4-font-weight);
  letter-spacing: var(--fg-web-headline-4-letter-spacing);
  line-height: var(--fg-web-headline-4-line-height);
  text-decoration: var(--fg-web-headline-4-text-decoration);
}