.fg-card-loader {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 0;
}

.fg-card-loader--grey {
  background-color: var(--fg-c-loaders-card-dark-background-color-default);
}

.fg-card-loader__inner-wrapper-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.fg-card-loader__inner-wrapper-card:not(:last-of-type) {
  border-bottom: 1px solid var(--fg-c-loaders-card-dark-divider-color-default);
}