.fg-fw--300 {
  font-weight: 300;
}

.fg-fw--400 {
  font-weight: 400;
}

.fg-fw--500 {
  font-weight: 500;
}

.fg-fw--600 {
  font-weight: 600;
}

.fg-fw--700 {
  font-weight: 700;
}

.fg-fw--800 {
  font-weight: 800;
}

.fg-fw--900 {
  font-weight: 900;
}