.fg-fz--0_625r {
  font-size: 10px;
}

.fg-fz--0_75r {
  font-size: 12px;
}

.fg-fz--0_875r {
  font-size: 14px;
}

.fg-fz--1r {
  font-size: 16px;
}

.fg-fz--1_125r {
  font-size: 18px;
}

.fg-fz--1_25r {
  font-size: 20px;
}

.fg-fz--1_5r {
  font-size: 24px;
}

.fg-fz--1_875r {
  font-size: 30px;
}

.fg-fz--2r {
  font-size: 32px;
}

.fg-fz--6r {
  font-size: 96px;
}