.fg-layout--has-sidebar {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: auto 1fr;
}

.fg-layout__sidebar {
  align-self: start;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: var(--fg-c-layout-sidebar-z-index);
}

.fg-layout__sticky-header {
  position: sticky;
  top: 0;
  z-index: var(--fg-c-layout-header-z-index);
}

.fg-layout__content {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
}

.fg-layout__content--gray {
  background-color: var(--fg-c-layout-content-background-color-default);
}

.fg-layout__content--has-footer {
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}