.fg-lh--0_625r {
  line-height: 10px;
}

.fg-lh--0_75r {
  line-height: 12px;
}

.fg-lh--0_875r {
  line-height: 14px;
}

.fg-lh--1r {
  line-height: 16px;
}

.fg-lh--1_125r {
  line-height: 18px;
}

.fg-lh--1_25r {
  line-height: 20px;
}

.fg-lh--1_5r {
  line-height: 24px;
}

.fg-lh--1_875r {
  line-height: 30px;
}

.fg-lh--2r {
  line-height: 32px;
}