.fg-link1 {
  font-family: var(--fg-web-link-1-font-family);
  font-size: var(--fg-web-link-1-font-size);
  font-weight: var(--fg-web-link-1-font-weight);
  letter-spacing: var(--fg-web-link-1-letter-spacing);
  line-height: var(--fg-web-link-1-line-height);
  text-decoration: var(--fg-web-link-1-text-decoration);
}