.fg-mg--0 {
  margin: 0;
}

.fg-mg--y0 {
  margin-bottom: 0;
  margin-top: 0;
}

.fg-mg--x0 {
  margin-left: 0;
  margin-right: 0;
}

.fg-mg--t0 {
  margin-top: 0;
}

.fg-mg--r0 {
  margin-right: 0;
}

.fg-mg--b0 {
  margin-bottom: 0;
}

.fg-mg--l0 {
  margin-left: 0;
}

.fg-mg--1 {
  margin: 4px;
}

.fg-mg--y1 {
  margin-bottom: 4px;
  margin-top: 4px;
}

.fg-mg--x1 {
  margin-left: 4px;
  margin-right: 4px;
}

.fg-mg--t1 {
  margin-top: 4px;
}

.fg-mg--r1 {
  margin-right: 4px;
}

.fg-mg--b1 {
  margin-bottom: 4px;
}

.fg-mg--l1 {
  margin-left: 4px;
}

.fg-mg--2 {
  margin: 8px;
}

.fg-mg--y2 {
  margin-bottom: 8px;
  margin-top: 8px;
}

.fg-mg--x2 {
  margin-left: 8px;
  margin-right: 8px;
}

.fg-mg--t2 {
  margin-top: 8px;
}

.fg-mg--r2 {
  margin-right: 8px;
}

.fg-mg--b2 {
  margin-bottom: 8px;
}

.fg-mg--l2 {
  margin-left: 8px;
}

.fg-mg--3 {
  margin: 12px;
}

.fg-mg--y3 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.fg-mg--x3 {
  margin-left: 12px;
  margin-right: 12px;
}

.fg-mg--r3 {
  margin-right: 12px;
}

.fg-mg--b3 {
  margin-bottom: 12px;
}

.fg-mg--l3 {
  margin-left: 12px;
}

.fg-mg--4 {
  margin: 16px;
}

.fg-mg--y4 {
  margin-bottom: 16px;
  margin-top: 16px;
}

.fg-mg--x4 {
  margin-left: 16px;
  margin-right: 16px;
}

.fg-mg--t4 {
  margin-top: 16px;
}

.fg-mg--r4 {
  margin-right: 16px;
}

.fg-mg--b4 {
  margin-bottom: 16px;
}

.fg-mg--l4 {
  margin-left: 16px;
}

.fg-mg--5 {
  margin: 20px;
}

.fg-mg--y5 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.fg-mg--x5 {
  margin-left: 20px;
  margin-right: 20px;
}

.fg-mg--t5 {
  margin-top: 20px;
}

.fg-mg--r5 {
  margin-right: 20px;
}

.fg-mg--b5 {
  margin-bottom: 20px;
}

.fg-mg--l5 {
  margin-left: 20px;
}

.fg-mg--6 {
  margin: 24px;
}

.fg-mg--y6 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.fg-mg--x6 {
  margin-left: 24px;
  margin-right: 24px;
}

.fg-mg--t6 {
  margin-top: 24px;
}

.fg-mg--r6 {
  margin-right: 24px;
}

.fg-mg--b6 {
  margin-bottom: 24px;
}

.fg-mg--l6 {
  margin-left: 24px;
}

.fg-mg--7 {
  margin: 28px;
}

.fg-mg--y7 {
  margin-bottom: 28px;
  margin-top: 28px;
}

.fg-mg--x7 {
  margin-left: 28px;
  margin-right: 28px;
}

.fg-mg--t7 {
  margin-top: 28px;
}

.fg-mg--r7 {
  margin-right: 28px;
}

.fg-mg--b7 {
  margin-bottom: 28px;
}

.fg-mg--l7 {
  margin-left: 28px;
}

.fg-mg--8 {
  margin: 32px;
}

.fg-mg--y8 {
  margin-bottom: 32px;
  margin-top: 32px;
}

.fg-mg--x8 {
  margin-left: 32px;
  margin-right: 32px;
}

.fg-mg--t8 {
  margin-top: 32px;
}

.fg-mg--r8 {
  margin-right: 32px;
}

.fg-mg--b8 {
  margin-bottom: 32px;
}

.fg-mg--l8 {
  margin-left: 32px;
}

.fg-mg--9 {
  margin: 36px;
}

.fg-mg--y9 {
  margin-bottom: 36px;
  margin-top: 36px;
}

.fg-mg--x9 {
  margin-left: 36px;
  margin-right: 36px;
}

.fg-mg--t9 {
  margin-top: 36px;
}

.fg-mg--r9 {
  margin-right: 36px;
}

.fg-mg--b9 {
  margin-bottom: 36px;
}

.fg-mg--l9 {
  margin-left: 36px;
}

.fg-mg--10 {
  margin: 40px;
}

.fg-mg--y10 {
  margin-bottom: 40px;
  margin-top: 40px;
}

.fg-mg--x10 {
  margin-left: 40px;
  margin-right: 40px;
}

.fg-mg--t10 {
  margin-top: 40px;
}

.fg-mg--r10 {
  margin-right: 40px;
}

.fg-mg--b10 {
  margin-bottom: 40px;
}

.fg-mg--l10 {
  margin-left: 40px;
}