.fg-pd--0 {
  padding: 0;
}

.fg-pd--y0 {
  padding-bottom: 0;
  padding-top: 0;
}

.fg-pd--x0 {
  padding-left: 0;
  padding-right: 0;
}

.fg-pd--t0 {
  padding-top: 0;
}

.fg-pd--r0 {
  padding-right: 0;
}

.fg-pd--b0 {
  padding-bottom: 0;
}

.fg-pd--l0 {
  padding-left: 0;
}

.fg-pd--1 {
  padding: 4px;
}

.fg-pd--y1 {
  padding-bottom: 4px;
  padding-top: 4px;
}

.fg-pd--x1 {
  padding-left: 4px;
  padding-right: 4px;
}

.fg-pd--t1 {
  padding-top: 4px;
}

.fg-pd--r1 {
  padding-right: 4px;
}

.fg-pd--b1 {
  padding-bottom: 4px;
}

.fg-pd--l1 {
  padding-left: 4px;
}

.fg-pd--2 {
  padding: 8px;
}

.fg-pd--y2 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.fg-pd--x2 {
  padding-left: 8px;
  padding-right: 8px;
}

.fg-pd--t2 {
  padding-top: 8px;
}

.fg-pd--r2 {
  padding-right: 8px;
}

.fg-pd--b2 {
  padding-bottom: 8px;
}

.fg-pd--l2 {
  padding-left: 8px;
}

.fg-pd--3 {
  padding: 12px;
}

.fg-pd--y3 {
  padding-bottom: 12px;
  padding-top: 12px;
}

.fg-pd--x3 {
  padding-left: 12px;
  padding-right: 12px;
}

.fg-pd--t3 {
  padding-top: 12px;
}

.fg-pd--r3 {
  padding-right: 12px;
}

.fg-pd--b3 {
  padding-bottom: 12px;
}

.fg-pd--l3 {
  padding-left: 12px;
}

.fg-pd--4 {
  padding: 16px;
}

.fg-pd--y4 {
  padding-bottom: 16px;
  padding-top: 16px;
}

.fg-pd--x4 {
  padding-left: 16px;
  padding-right: 16px;
}

.fg-pd--t4 {
  padding-top: 16px;
}

.fg-pd--r4 {
  padding-right: 16px;
}

.fg-pd--b4 {
  padding-bottom: 16px;
}

.fg-pd--l4 {
  padding-left: 16px;
}

.fg-pd--5 {
  padding: 20px;
}

.fg-pd--y5 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.fg-pd--x5 {
  padding-left: 20px;
  padding-right: 20px;
}

.fg-pd--t5 {
  padding-top: 20px;
}

.fg-pd--r5 {
  padding-right: 20px;
}

.fg-pd--b5 {
  padding-bottom: 20px;
}

.fg-pd--l5 {
  padding-left: 20px;
}

.fg-pd--6 {
  padding: 24px;
}

.fg-pd--y6 {
  padding-bottom: 24px;
  padding-top: 24px;
}

.fg-pd--x6 {
  padding-left: 24px;
  padding-right: 24px;
}

.fg-pd--t6 {
  padding-top: 24px;
}

.fg-pd--r6 {
  padding-right: 24px;
}

.fg-pd--b6 {
  padding-bottom: 24px;
}

.fg-pd--l6 {
  padding-left: 24px;
}

.fg-pd--7 {
  padding: 28px;
}

.fg-pd--y7 {
  padding-bottom: 28px;
  padding-top: 28px;
}

.fg-pd--x7 {
  padding-left: 28px;
  padding-right: 28px;
}

.fg-pd--t7 {
  padding-top: 28px;
}

.fg-pd--r7 {
  padding-right: 28px;
}

.fg-pd--b7 {
  padding-bottom: 28px;
}

.fg-pd--l7 {
  padding-left: 28px;
}

.fg-pd--8 {
  padding: 32px;
}

.fg-pd--y8 {
  padding-bottom: 32px;
  padding-top: 32px;
}

.fg-pd--x8 {
  padding-left: 32px;
  padding-right: 32px;
}

.fg-pd--t8 {
  padding-top: 32px;
}

.fg-pd--r8 {
  padding-right: 32px;
}

.fg-pd--b8 {
  padding-bottom: 32px;
}

.fg-pd--l8 {
  padding-left: 32px;
}

.fg-pd--9 {
  padding: 36px;
}

.fg-pd--y9 {
  padding-bottom: 36px;
  padding-top: 36px;
}

.fg-pd--x9 {
  padding-left: 36px;
  padding-right: 36px;
}

.fg-pd--t9 {
  padding-top: 36px;
}

.fg-pd--r9 {
  padding-right: 36px;
}

.fg-pd--b9 {
  padding-bottom: 36px;
}

.fg-pd--l9 {
  padding-left: 36px;
}

.fg-pd--10 {
  padding: 40px;
}

.fg-pd--y10 {
  padding-bottom: 40px;
  padding-top: 40px;
}

.fg-pd--x10 {
  padding-left: 40px;
  padding-right: 40px;
}

.fg-pd--t10 {
  padding-top: 40px;
}

.fg-pd--r10 {
  padding-right: 40px;
}

.fg-pd--b10 {
  padding-bottom: 40px;
}

.fg-pd--l10 {
  padding-left: 40px;
}